*{
    box-sizing: border-box;
}

#footer{
    width: 100%;
    clear: both;
}

#footer div{
    float: left;
    width: 25%;
    padding: 10px;
    text-align: center;
}

img.responsive {
    width: 100%;
    height: auto;
}
